body{
    background-size: cover;
    background-position: center;
}


.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: tomato;
}

#status
{
font-size: 18px;
background-color: tomato;
}

canvas{
    box-shadow: 10px, 10px, 10px tomato;
    border-radius: 20px;
}

